{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GLAB {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    {% block css %}
    {% endblock css %}
</head>
<body>
<div class="container-fluid">
    <!-- Start: Navigation Clean -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgb(203,203,203);">
        <div class="container">
            <a class="navbar-brand" href="#" style="background: url({% static 'assets/img/Glab.png' %}) no-repeat;width: 86px;height: 51px;background-size: cover;"></a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    {% if not login_page and not request.user.is_anonymous %}
                        <li class="nav-item">
                            <!-- Start: button_home -->
                            <a class="nav-link" href="{{ request.user.get_user_url }}">Início<i class="icon ion-home" style="margin-left: 6px;"></i></a>
                            <!-- End: button_home -->
                        </li>
                    {% endif %}
                    {% block nav %}
                    {% endblock nav %}
                    <li class="nav-item">
                        <!-- Start: button_help -->
                        <a class="nav-link" href="#">Ajuda<i class="icon ion-help-circled" style="margin-left: 6px;"></i></a>
                        <!-- End: button_help -->
                    </li>
                    {% if not login_page and not request.user.is_anonymous %}
                        <li class="nav-item">
                            <a class="btn btn-light Logout" role="button" id="button_student_profile_exit" href="{% url 'logout' %}" style="background: #e32e2e;border-color: rgba(255,255,255,0);border-left-style: none;color: rgb(255,255,255);width: 80px;">
                                Sair
                                <i class="icon ion-android-exit" style="margin-left: 6px;"></i>
                            </a><!-- End: button_student_profile_exit -->
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- End: Navigation Clean -->
{% block body %}
{% endblock body %}

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
{% block js %}
{% endblock js %}
</body>
</html>