{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            <strong>{{ error }}</strong>
        {% endfor %}
    </div>
{% endif %}
<div class="form-row">
    {% for f in form.hidden_fields %}
        {{ f }}
    {% endfor %}
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        {% include 'components/input-form.html' with field=form.laboratory text_validated='Por favor, selecione um espaço.' %}
    </div>
    <div class="form-group col-md-6">
        {% include 'components/input-form.html' with field=form.date text_validated='Por favor, selecione uma data.' %}
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        {% include 'components/input-form.html' with field=form.initial_time text_validated='Por favor, selecione um horário inicial.' %}
    </div>
    <div class="form-group col">
        {% include 'components/input-form.html' with field=form.end_time text_validated='Por favor, selecione um horário de termino.' %}
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        {% include 'components/input-form.html' with field=form.reason text_validated='Por favor, fale o motivo da solicitação.' %}
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        {% include 'components/input-form.html' with field=form.obs text_validated='Por favor, forneça sua senha.' %}
    </div>
</div>