{% if form_teacher.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form_teacher.non_field_errors %}
            <strong>{{ error }}</strong>
        {% endfor %}
    </div>
{% endif %}
{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            <strong>{{ error }}</strong>
        {% endfor %}
    </div>
{% endif %}
<div class="form-row">
    {% for f in form_teacher.hidden_fields %}
        {{ f }}
    {% endfor %}
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        {% include 'components/input-form.html' with field=form_teacher.registry text_validated='Por favor, selecione sua matricula.' %}
    </div>
    <div class="form-group col-md-6">
        {% include 'components/input-form.html' with field=form_teacher.academic_center text_validated='Por favor, selecione seu centro.' %}
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        {% include 'components/input-form.html' with field=form.full_name text_validated='Por favor, forneça seu nome completo.' %}
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        {% include 'components/input-form.html' with field=form.email text_validated='Por favor, forneça seu email institucional.' %}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        {% include 'components/input-form.html' with field=form.password1 text_validated='Por favor, forneça sua senha.' %}
    </div>
    <div class="form-group col-md-6">
        {% include 'components/input-form.html' with field=form.password2 text_validated='Por favor, forneça sua confirmação de senha.' %}
    </div>
</div>