{% extends 'components/base.html' %}
{% load static %}

{% block body %}

<div class="text-center" style="margin-top: 64px;height: 98px;">
    <div style="background: url({% static 'assets/img/Logo-ufac-glab.png' %}) center / contain no-repeat;height: 98px;margin-right: -22px;margin-left: 10px;"></div>
</div>
<h1 style="text-align: center;margin-top: 64px;margin-bottom: 32px;">Entrar</h1>
<div class="container">
            {% if messages %}{% include 'components/messages.html' %}{% endif %}
    <div class="row justify-content-center">
        <div class="col-auto">
            <form method="post">
                {% csrf_token %}
                {% include 'login/form_login.html' with form=form %}
                <div class="text-center" style="margin-bottom: 32px;">
                    <!-- Start: button_login -->
                    <button class="btn btn-primary" type="submit">Entrar</button>
                    <!-- End: button_login -->
                </div>
                <div class="text-center">
                    <!-- Start: button_singup -->
                    <a class="btn btn-primary" role="button" href="{% url 'signup:choice_signup' %}">Cadastrar</a>
                    <!-- End: button_singup -->
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
