{% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for error in form.non_field_errors %}
            <strong>{{ error }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% endfor %}
    </div>
{% endif %}
<div class="form-row">
    {% for f in form.hidden_fields %}
        {{ f }}
    {% endfor %}
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        {% include 'components/fields/field.html' with field=form.phone text_validated='Por favor, digite um número para contato.' %}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {% include 'components/fields/field.html' with field=form.date text_validated='Por favor, selecione uma data.' %}
    </div>
    <div class="form-group col">
        {% include 'components/fields/field.html' with field=form.initial_time text_validated='Por favor, selecione um horário inicial.' %}
    </div>
    <div class="form-group col">
        {% include 'components/fields/field.html' with field=form.end_time text_validated='Por favor, selecione um horário de termino.' %}
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        {% include 'components/fields/field.html' with field=form.reason text_validated='Por favor, fale o motivo da solicitação.' %}
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        {% include 'components/fields/field.html' with field=form.obs text_validated='Por favor, forneça sua senha.' %}
    </div>
</div>