{% extends 'components/base.html' %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'teacher:edit_profile_teacher' %}">Editar informações<i class="ion ion-person ml-1" style="margin-left: 6px;"></i></a><!-- End: button_teacher_profile_edit_profile -->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Reservar espaço<i class="ion ion-calendar ml-1" style="margin-left: 6px;"></i></a><!-- End: button_teacher_profile_make_reservation -->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Verificar reserva<i class="ion ion-search ml-1" style="margin-left: 6px;"></i></a><!-- End: button_teacher_profile_see_reservation -->
    </li>
{% endblock nav %}
{% block body %}
    <div class="container" style="margin-bottom: 64px;">
    <div class="row">
        <div class="col text-center" style="margin-top: 64px;">
            <h1>Editar dados</h1>
        </div>
    </div>
    {% if messages %}{% include 'components/messages.html' %}{% endif %}
    <div class="row justify-content-center">
        <div class="col" style="margin-top: 32px;">
            <form class="needs-validation" novalidate method="POST">
                {% csrf_token %}
                {% include 'components/forms/form_docente.html' with form=form form_teacher=form_teacher %}
                <div class="text-center">
                    <a type="button" id="button_update_teacher_submit" href="{% url 'teacher:dashboard_teacher' %}" class="btn btn-secondary">Voltar</a>
                    <button type="submit" id="button_update_teacher_submit" class="btn btn-primary">Atualizar Cadastro</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}

{% block js %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock js %}