{% extends 'components/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/calendar.min.css' %}">
{% endblock css %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'teacher:edit_profile_teacher' %}">Editar informações<i class="ion ion-person ml-1" style="margin-left: 6px;"></i></a><!-- End: button_teacher_profile_edit_profile -->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'teacher:reservation_create_teacher' %}">Reservar espaço<i class="ion ion-calendar ml-1" style="margin-left: 6px;"></i></a><!-- End: button_teacher_profile_make_reservation -->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Verificar reserva<i class="ion ion-search ml-1" style="margin-left: 6px;"></i></a><!-- End: button_teacher_profile_see_reservation -->
    </li>
{% endblock nav %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center" style="margin-top: 64px;margin-bottom: 64px;">
                <h1>Área Docente</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="form-group" style="border-style: solid;">
                    <span id="label_teacher_profile_name" style="font-size: 32px;padding: 5px;">{{ request.user.get_short_name }}</span>
                </div>
            </div>
        </div>
        <hr class="mb-5">
        {% if messages %}{% include 'components/messages.html' %}{% endif %}
        <div class="row">
            <div class="col">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block js %}
    <script src="{% static 'assets/js/calendar.min.js' %}"></script>
    <script src="{% static 'assets/js/calendar-locales-all.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: { end: '' },
                events: [{% for e in object_list  %}{
                        "id": "{{ e.id }}",
                        "title": "{{ e.user }}",
                        "start": "{{ e.get_start_date.isoformat }}",
                        "end": "{{ e.get_end_date.isoformat }}",
                        "url": "{{ e.get_absolute_url }}"
                        }, {% endfor %}],
                editable: true,
                locale: 'pt-br'

            });
            calendar.render();
        });
    </script>
{% endblock js %}
